body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff0f5;
  text-align: center;
}

.header {
  background: #b1125d;
  color: white;
  padding: 20px;
}

.navbar {
  background: #f8b7d0;
  padding: 10px;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: #6b0033;
  font-weight: bold;
}

.home {
  padding: 40px 20px;
}

.shop-btn {
  padding: 10px 20px;
  background: #b1125d;
  color: white;
  border: none;
  border-radius: 5px;
}

.products {
  padding: 30px 20px;
}

.product-buttons button {
  margin: 5px;
  padding: 10px 20px;
  background: #b1125d;
  color: white;
  border: none;
  border-radius: 5px;
}

.footer {
  background: #b1125d;
  color: white;
  padding: 15px;
  margin-top: 40px;
}

